body{
    margin: 0;
    padding: 0;
    background-color: #ffe5ec;
    overflow: hidden;
}
img{
    position: absolute;
    width: 500px;
    left: 35%;
    top: 15%;
}
.forgotpassword{
    color: #353535;
    display: flex;
    padding: 20px;
    position: absolute;
    left: 40%;
    top: 35%;
    border: 4px solid #353535; /* Çizgi rengi ve kalınlığı */
    border-radius: 8px; /* Köşeleri yuvarlak yapmak için isteğe bağlı */
    height: 30%;
}
p{
    position: relative;
    left: 10%;
}
.forgotpassword input{
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 16px;
    text-align: center;
    box-sizing: border-box;
    border: none;
}

.password{
    position: relative;
    display: inline-block;
    background-color: #dbdbdb;
    top: 12%;
    text-align: center;
                cursor: url(photos/working-in-background-draw.png), pointer;
}
.newpassword{

}